:host {
    display: inline-block;
}

.container {
  color-scheme: light;
}

@media screen and (prefers-color-scheme: dark) {
  .container {
    color-scheme: dark;
  }
}

@scope (.container) to (:is(.option-content, .loading-notification)){
  .multi-input {
    line-height: 2em;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    color: buttontext;
    padding: 0.125em .5em;
    width: 100%;

    & > .selected-options {
      z-index: 1;
      position: relative;
      pointer-events: none;
      flex: 1;
    }
  }

  .background-button {
    position: absolute;
    inset: 0;
  }

  .container {
    display: inline-block;
    position: relative;
    width: 100%;
  }

  .dropdown {
    background-color: ButtonFace;
    border: 2px solid ButtonBorder;
    box-sizing: border-box;
    &.top-direction {
      transform: translateY(-100%);
    }
    &.left-direction {
      transform: translateX(-100%);
    }
    &.top-direction.left-direction {
      transform: translate(-100%, -100%);
    }
  }

  .selected-value {
    width: 100%;
    position: relative;
    color: buttontext;
    padding: 0.125em .5em;
    min-height: 1lh;
    white-space: nowrap;
    display: flex;

    & .option {
      z-index: 1;
      position: relative;
      pointer-events: none;
      flex: 1;
    }
  }

  .collapse-arrow {
    --arrow-size: 0.2em;
    margin-left: 0.5em;
    margin-right: 0.5ch;
    height: 0;
    padding: var(--arrow-size);
    display: inline-block;
    border: solid currentColor;
    opacity: 70%;
    border-width: 0 var(--arrow-size) var(--arrow-size) 0;
    display: inline-block;
    transform: translateY(calc(var(--arrow-size) * -1)) rotate(45deg);
    transform-origin: calc(50% + var(--arrow-size)/2) calc(50% + var(--arrow-size)/2);
    pointer-events: none;
    align-self: center;

    :host([open]) &{
        transform: translateY(calc(var(--arrow-size) * -1)) rotate(225deg)
    }
  }

  .multiselect-option  {
    line-height: 1em;
    border: 1px solid color-mix(in srgb, currentColor, transparent 50%);
    border-radius: 0.5em;
    margin: 0.2em 0.25em;
    padding: 0.2em 0.5em;
    white-space: nowrap;
    display: inline-flex;
    gap: .5ch;
    align-items: center;
  }

  .value-list {
    list-style: none;
    padding: 0;
  }

  .option-group header {
    font-weight: bold;
  }

  .input {
    display: inline-flex;
    width: 100%;
  }

  .dynamic-options {
    display: none;
  }

  .multi-input--input-field{
    background: none;
  }

  .multiselect-option > .deselect-option,
  .clear-button {
    --b: .15em; /* thickness */
    --s: .2em; /* space around */            
    --c: currentColor;
    content: " ";
    display: inline-block;
    
    height: 1em;
    aspect-ratio: 1;

    box-sizing: border-box;
    --g:conic-gradient(var(--c) 0 0) no-repeat 50%/;
    background: 
        var(--g) var(--b) calc(100% - 2*var(--s)),
        var(--g) calc(100% - 2*var(--s)) var(--b);
    rotate: 45deg;
    opacity: 0.5;

    appearance: none;
    border: none;
    color: inherit;
    pointer-events: all;

    &:hover {
        cursor:pointer;
        opacity: 1;
    }
  }

  .multi-input:not(:has(.multiselect-option:nth-child(2))) .clear-button {
      display: none
  }

  .option-checked-indicator {
    display: none;
    float: right;
  }

  .search-input {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
  }

  .buttons {
    display: none;
    text-align: right;

    & button {
      appearance: none;
      background: none;
      border: none;
      margin: 1em;
      font-weight: bold;
    }
  }

  .option-group .option  {
    padding-left: 1em;
  }
}

@scope (.container[data-ui-mode="mobile"]) to (:is(.option-content, .loading-notification)){
  .dropdown {
    padding: 0;
    margin: 0;
    border-radius: 0.5em;
    font-size: large;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 90vw;
    max-height: 90vh;
    overscroll-behavior: contain;
  }

  .filters {
    position: relative;
    text-align: center;
  }

  .search-input {
    width: 90%;
    margin: auto;
  }

  .option-value {
      padding: 0.1em 1em;
  }

  .option-checked-indicator {
    display: inline-block;
  }
}

@media screen and (prefers-color-scheme: dark) {
@scope (.container[data-ui-mode="mobile"]) to (:is(.option-content, .loading-notification)){
  .dropdown {
    box-shadow: white 0px 0px 4px
  }
}
}

.option-content:not(.option-content *){
  display: contents
}

/* issue on firefox: doing inside @scope does not apply it correctly */
:host([multiple]) .container[data-ui-mode="mobile"] .buttons:not(.option-content *) {
  display: flex;
  flex-direction: row-reverse;
}


/* issue on firefox: doing inside @scope does not apply it correctly */
.option-value:not(.option-content *) {
  &[aria-selected=true],&:hover {
    background-color: color-mix(in srgb, currentColor 10%, transparent 90%);
  }
  &[data-focused] {
    outline: dashed currentColor;
  }
  .container[data-ui-mode="mobile"] & {
    background-color: transparent;
    &:not(:last-of-type) {
      border-bottom: solid 1px color-mix(in srgb, currentColor 20%, transparent 80%);
    }
  }
}

.container[load-mode="async"][data-ui-mode="mobile"] .dropdown {
  height: 90vh;
}

@media screen and (forced-colors: active) {
  .option-value:not(.option-content *) {
    &[aria-selected=true],&:hover {
      background-color: Mark;
      color: MarkText;
      & > * {
        background-color: inherit;
        color: inherit;
      }
    }
  } 
}

.loading-notification:not(.loading-notification *){
  display: none;

  .container[data-loading] & {
    display: block;
  }
}


.default-loader {
  --radius: 1em;
  --diameter: calc(var(--radius) * 2);
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  padding: .5em;

}
  
.default-loader > .dot:not(.option-content *) {

  border-radius: 50%;
  background-color: #88888888;
  width: var(--diameter);
  height: var(--diameter);
  animation: default-loader-animation 1.8s infinite ease-in-out;
  animation-fill-mode: both;
  font-size: 7px;
  position: relative;
  animation-delay: -0.16s;
  display: inline-block;

  &:nth-of-type(2) {
    animation-delay: 0.16s;
  }

  &:nth-of-type(3) {
    animation-delay: 0.32s;
  }
}

@keyframes default-loader-animation {
  0%, 80%, 100% {   clip-path: circle(var(--radius)); }
  40% { clip-path: circle(0); }
}
    