:host {
    display: inline-block;
}

.multi-input:not(.option *) {
    line-height: 2em;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    color: buttontext;
    padding: 0.125em .5em;
    width: 100%;


    & > .background-button {
        position: absolute;
        inset: 0;
    }

    & > .selected-options {
        z-index: 1;
        position: relative;
        pointer-events: none;
        flex: 1;
    }
}

.selected-value:not(.option *) {
    width: 100%;
    position: relative;
    color: buttontext;
    padding: 0.125em .5em;
    min-height: 1lh;
    white-space: nowrap;
    
    display: flex;

    & > .background-button {
        position: absolute;
        inset: 0;
    }

    & > .option {
        z-index: 1;
        position: relative;
        pointer-events: none;
        flex: 1;
    }
}


.collapse-arrow:not(.option *) {
    --arrow-size: 0.2em;
    margin-left: 0.5em;
    margin-right: 0.5ch;
    height: 0;
    padding: var(--arrow-size);
    display: inline-block;
    border: solid currentColor;
    opacity: 70%;
    border-width: 0 var(--arrow-size) var(--arrow-size) 0;
    display: inline-block;
    transform: translateY(calc(var(--arrow-size) * -1)) rotate(45deg);
    transform-origin: calc(50% + var(--arrow-size)/2) calc(50% + var(--arrow-size)/2);
    pointer-events: none;
    align-self: center;

    :host([open]) &{
        transform: translateY(calc(var(--arrow-size) * -1)) rotate(225deg)
    }
}



.multiselect-option:not(.option *)  {
    line-height: 1em;
    border: 1px solid color-mix(in srgb, currentColor, transparent 50%);
    border-radius: 0.5em;
    margin: 0.2em 0.25em;
    padding: 0.2em 0.5em;
    white-space: nowrap;
    display: inline-flex;
    gap: .5ch;
    align-items: center;
}



ul:not(.option *)  {
    list-style: none;
    padding: 0;
}

li > header:not(.option *)  {
    font-weight: bold;
}

li > ul > li.option:not(.option *)  {
    padding-left: 1em;
}

li[data-focused].option-value:not(.option *) {
    outline: dashed currentColor;
}

li[aria-selected=true].option-value:not(.option *),
li.option-value:not(.option *):hover {
    background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (forced-colors: active) {
   li[aria-selected=true].option-value:not(.option *),
   li.option-value:not(.option *):hover {
        background-color: Mark;
        color: MarkText;
        & > * {
            background-color: inherit;
            color: inherit;
        }
    }
}

:host > .container {
    display: inline-block;
    position: relative;
    width: 100%;
}

:host > .container > .dropdown {
    border: none;
    box-sizing: border-box;
    &.top-direction {
        transform: translateY(-100%);
    }
    &.left-direction {
        transform: translateX(-100%);
    }
    &.top-direction.left-direction {
        transform: translate(-100%, -100%);
    }
}

:host > .container > .input {
    display: inline-flex;
    width: 100%;

}

:host > .container > .dynamic-options {
    display: none;
}

.multi-input--input-field:not(.option *){
    background: none;
}

.multiselect-option:not(.option *) > .deselect-option,
.clear-button:not(.option *) {
    --b: .15em; /* thickness */
    --s: .2em; /* space around */            
    --c: currentColor;
    content: " ";
    display: inline-block;
    
    height: 1em;
    aspect-ratio: 1;

    box-sizing: border-box;
    --g:conic-gradient(var(--c) 0 0) no-repeat 50%/;
    background: 
        var(--g) var(--b) calc(100% - 2*var(--s)),
        var(--g) calc(100% - 2*var(--s)) var(--b);
    rotate: 45deg;
    opacity: 0.5;

    appearance: none;
    border: none;
    color: inherit;
    pointer-events: all;


    &:hover {
        cursor:pointer;
        opacity: 1;
    }
}

.multi-input:not(.option *):not(:has(.multiselect-option:nth-child(2))) .clear-button {
    display: none
}

.option-checked-indicator:not(.option *){
    float: right;
}



:host > .container > .input:not([data-mobile]) + .dropdown {
  & .option-checked-indicator {
    display: none;
  }
}

.buttons:not(.option *){
    display: none;
    text-align: right;

    & button {
      appearance: none;
      background: none;
      border: none;
      margin: 1em;
      font-weight: bold;
    }

    &:is(:host([multiple]) > .container > .input[data-mobile] + .dropdown *){
      display: flex;
      flex-direction: row-reverse;
    }
}

:host > .container > .input[data-mobile] + .dropdown {
    padding: 0;
    margin: 0;
    border-radius: 0.5em;
    font-size: large;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 90vw;
    max-height: 90vh;
    overscroll-behavior: contain;

    & .filters {
        position: relative;
        text-align: center;
    }

    & .search-input {
        width: 90%;
        margin: auto;
    }

    & .option-value {
        padding: 0.1em 1em;
    }

    &  .option-value:not(:last-child) {
        border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    }

    & li[aria-selected=true].option-value:not(.option *),
    & li.option-value:not(.option *):hover {
        background-color: transparent;
    }
}