
.multi-input:not(.option *) {
    padding: 0.5em;
}

.collapse-arrow:not(.option *){
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 8 8" fill="none" stroke="black" stroke-width="1.5"><path d="M0.5 3.5L4 6.5L7.5 3.5"></path></svg>');
  background-size: 0.75em 0.75em;
  background-repeat: no-repeat;
  background-position: center;
  height: 1lh;
  width: 1em;
  display: inline-block;

  /* trick to align empty inline block with text, add whitespace character so it has a baseline which will automatically align with text */
  &::before {
    content: "\2060";
  }
}





:host([open]) .collapse-arrow:not(.option *){

  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 8 8" fill="none" stroke="black" stroke-width="1.5"><path d="M0.5 6.5L4 3.5L7.5 6.5"></path></svg>');
}

.multiselect-option:not(.option *)  {
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    padding: 0.2em 0.5em;
    white-space: nowrap;
    & > .deselect-option {
        appearance: none;
        border: none;
        background: none;
        padding-left: 0.5em;
        opacity: 0.5;
        cursor:pointer;
        &::after {
            content: "x";
        }
        &:hover {
            opacity: 1;
        }
    }
}


ul:not(.option *)  {
    list-style: none;
    padding: 0;
}

li > header:not(.option *)  {
    font-weight: bold;
}

li > ul > li.option-value:not(.option *)  {
    padding-left: 1em;
}

li.option-value:not(.option *):hover {
    background-color: bisque;
}

li.selected.option-value:not(.option *)  {
    background-color: bisque;
}

:host > .container {
    display: inline-block;
    position: relative;
}

:host > .container > .dropdown {
    border: none;
    &.top-direction {
        transform: translateY(-100%);
        box-sizing: border-box;
    }
}

:host > .container > .input {
    display: inline-block;
}

:host > .container > .dynamic-options {
    display: none;
}
