@import url(../../docs/doc.css);

body {
  display: block;
  font: 16px Arial;
}

body:has(.test-case:target) .test-case:not(:target) {
  display: none
}

.test-example {
  display: block;
  width: 700px;
}